.counterBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: fantasy;
    border: 8px solid purple;
    padding: 50px;
    width: auto;
    border-radius: 30px;
    background-color: #f6c318;
}

.display {
    color: purple;
    text-align: center;
    font-size: 6rem;
}

.button {
    font-size: 3rem;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 5px black;
    border-radius: 20px;
    color: #f6c318;
    background-color: purple;
    width: 250px;
    margin: 0 10px;
}