.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #c275fe;
}

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 60px 80px 80px;
    border-radius: 50px;
    background-color: #a544f1;
    margin: 10px 0;
    position: relative;
}

.box h1 {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    margin-bottom: 60px;
    text-align: center;
}

.box input {
    font-size: 2rem;
    border: none;
    font-family: sans-serif;
    margin-bottom: 15px;
    border-radius: 10px;
}

.submit {
    margin-top: 30px;
    border: none;
    color: black;
    width: 130px;
    font-size: 2rem;
    font-family: sans-serif;
    border-radius: 10px;
    margin-right: 50px;
}

.submit:hover {
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.endBox {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.endBox p {
    font-size: 1.3rem;
}

.link {
    color: black;
}

.box textarea {
    border-radius: 6px;
    resize: none;
    font-size: 1rem;
    font-family: sans-serif;
}

.active {
    display: block;
    width: 300px;
    height: 400px;
    position: absolute;
    left: -300px;
    top: 165px;
}

.inactive {
    display: none;
}

.item {
    word-wrap: break-word;
    font-family: monospace;
    font-size: 1.4rem;
    list-style-type: none;
    padding: 5px;
}

.show {
    position: absolute;
    height: 32px;
    width: 60px;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    top: 228px;
    left: 498px;
    cursor: pointer;
}

#show1 {
    top: 298px;
    left: 480px;
}

.show:hover {
    background-color: rgba(255, 255, 255, 0.8);
}