.todolistBody {
    background-color: #1b1b1b;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myH1 {
    color: white;
    text-align: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.inputContainer {
    margin-left: 35px;
}

.input {
    width: 500px;
    text-align: center;
    border-radius: 15px;
    font-size: 3.4rem;
    font-family: sans-serif;
    margin-right: 10px;
    border: 3px solid gray;
}

.submitButton {
    font-size: 3.5rem;
    background-color: #6dc116;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
    font-family: sans-serif;
}

.submitButton:hover {
    background-color: #89fc1f;
}

.deleteButton {
    font-size: 2.8rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 10px;
    font-family: sans-serif;
}

.deleteButton:hover {
    background-color: #bf001d;
}

.moveButton {
    font-size: 2rem;
    margin-right: 9px;
    border: none;
    border-radius: 15px;
    background-color: #21dee2;
    cursor: pointer;
}

.moveButton:hover {
    background-color: #5ef3f8;
}

li button {
    transition: background-color 0.5s ease;
}

.text {
    flex: 1;
}

.list {
    list-style-type: none;
    font-size: 3rem;
}

.list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: white;
    width: 700px;
    border: 3px solid gray;
    margin: 20px 0;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 20px 10px;
}